body{
    font-family: 'Roboto', sans-serif;
}

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  /*--------------------*/

.container-fluid {
    width: 100%;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
}

.js-todos{
    font-size: 24px;
    font-weight: bold;
}

.title {
    text-align: center;
}
.js-input {
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}
.js-btn {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.js-todos {
    
    max-width: 80%;
    margin: 0 auto;
    
    margin-top: 30px;
}

.done-btn{
    padding: 10px;
    border: none;
    border-radius: 20px;
    transition:  all 0.5s;
    margin-top: 10px;
}

.done-btn:hover{
    background-color: rgb(19, 165, 19);
    color: white;
}